.intro__list {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .intro__list {
    margin: 34px 0 0;
  }
}